<!DOCTYPE html>
<html>
		<head> 
			<title> New Expense Record </title> 
		</head> 

		<body>
			<form method="POST" action="/save">

				<label for="id"> Enter the item ID </label>
				<input type="text" name="id" />
				<br />
				<label for="item"> Enter the item name </label>
				<input type="text" name="item" />
				<br />
				<label for="amount"> Enter the item price </label>
				<input type="text" name="amount" />
				<br />
				</br>
				<input type="submit" value="Submit Record" />

			</form>
		</body>
</html>
